<%- include("../partials/head.ejs") %>
  <body class="home__body">
    <%- include("../partials/header.ejs") %>
    <main>
      <a href="/products/formCreate"><button class="dashboard-button-create">Crear Producto</button></a>
      <table class="table">
        <thead>
          <tr >
            <% propiedades.forEach(propiedad => { %>
                <th scope="col"><%= propiedad %></th>
            <%}); %>
            <th> Acciones </th>
          </tr>
        </thead>
        <tbody>
            <% products.forEach(obj => { %>
                <tr>
                    <!-- <% for(propiedad in obj){%>
                        <% if (propiedad == "id") {%>
                            <th scope="row"> <%= obj.id %></th>
                        <%}else{ %>
                          <td><%= obj[propiedad]%></td>
                        <%}%>
                    <%};%> -->

                    <% propiedades.forEach(prop => { %>
                         <% if (prop == "id") {%>
                            <th scope="row"> <%= obj.id %></th>
                        <%}else{ %>
                          <td><%= obj[prop]%></td>
                        <%}%>
                    <%});%>
                    <td class="dashboard-container-buttons-actions"> 
                        <a
                        href="/products/detail/<%= obj.id %>"
                        ><i class="fa-brands fa-readme"></i></a
                      >
                      <a
                      href="/products/formUpdate/<%= obj.id %>"
                        ><i class="fa-solid fa-pen-to-square"></i>
                      </a>
                      <form action="/products/delete/<%= obj.id %>?_method=DELETE" method="post">
                        <button type="submit"><i class="fa-solid fa-trash"></i></button>
                      </form>
                    </td>
                </tr>
            <%}); %>
        </tbody>
      </table>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
